cairosvg=2.4.2=pypi_0
json5=0.8.5=py_0
matplotlib=3.1.0=pypi_0
msgpack=0.6.2=pypi_0
networkx=2.4=pypi_0
numpy=1.17.2=py37h6b0580a_0
pillow=6.2.0=pypi_0
pytest=5.2.2=pypi_0
python-chess=0.28.3=pypi_0
python-graphviz=0.13=pypi_0
tensorboard=2.0.0=pypi_0
tensorflow=2.0.0=pypi_0
tqdm=4.36.1=pypi_0
